@import url('https://fonts.google.com/specimen/Open+Sans#standard-styles');
html {
  overflow: hidden;
  height: 100%;
}
body {
  height: 100%;
  overflow: auto;
  background: #f2f2f2;
  color: #333;
  font-family: 'Open Sans', sans-serif;}
a {
  color: rgb(41, 41, 41);
  text-decoration: none;
}

.nav_button {
  font-size: large;
  font-weight: bold;
  color: #FFFFFF;
}

a:hover {
  text-decoration: underline;
}
.content {
  max-width: 960px;
  margin: 0 auto;
}
nav {
  margin: 10px auto 80px;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px solid #ddd;
}
nav a {
  margin-left: 12px;
}
nav .logo {
  margin-right: auto;
}

/* ------------------------- FOOTER ------------------------- */
.footer-container {
  position:absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;  
}

.footer-content {
  position: static;
  flex: none;
  margin: 0px;
  width: 100vw;  
  height: 304px;
  left: 0px;
  background: #B3BDC9;

}

.footer_box {
  display: flex;
  justify-content: right;
  color: #FFFFFF;
  width: 34vw;
  height: 304px;
  display: table-cell;
  border-right: solid #CED7E2 1px;  
  padding-top: 15px;
}

.footer_box td {
  padding: 30px;
}


.footer_box a {
  color: #FFFFFF;
  
}


.footer_box table {
  margin: auto;
  text-align: center;
}

.footer_box tr {
  padding-top: 30px;
}

#footer_contact_box {
  width: 50%;
  height: 50%;
  margin: 0 auto;
  
}
.contact_smaller_box {
  margin-top: 40%;
}

.contact_smaller_box p {
  line-height: 50%;
}

.footer_box:last-child {
  border: 0px;
}